<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ThiTracNghiem.Properties.Settings.TN_CSDLPTConnectionString"
            connectionString="Data Source=DESKTOP-A8S0739\SERVER1;Initial Catalog=TN_CSDLPT;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>